body {
  background-color: black;
}
.panel {
  margin: 20px auto;
  width: 700px;
}
.container {
  background-color: black;
  border: 10px solid #4b2e83;
}
#su {
  background-color: #990000;
  color: lightgray;
}
#ou {
  background-color: #154733;
  color: yellow;
}
#wsu {
  background-color: #981e32;
  color: #5e6a71;
}
#cal {
  background-color: #081f3f;
  color: #fcb326;
}
#uw {
  background-color: #4b2e83;
  color: #b7a57a;
}
#osu {
  background-color: #252525;
  color: #cc4500;
}
h1 {
  text-align: center;
}
body {
  text-align: center;
  background-color: rgba(201, 76, 76, 0.3);
}
table {
  width: 100%;
  margin: center;
  border: solid black;
  border-collapse: collapse;
}

tr {
  border: 1px solid black;
  background-color: white;
  color: black;
}

th {
  border: 1px solid black;
  color: black;
}
img {
  width: 30px;
}