.swatch1 {
  background-color:rgb(102, 255, 153);
}
.swatch2 {
  background-color:rgb(102, 255, 153, 0.9);
}
.swatch3 {
  background-color:rgb(102, 255, 153, 0.8);
}
.swatch4 {
  background-color:rgb(102, 255, 153, 0.7);
}
.swatch5 {
  background-color:rgb(102, 255, 153, 0.6);
}
.swatch6 {
  background-color:rgb(102, 255, 153, 0.5);
}
.swatch7 {
  background-color:rgb(102, 255, 153, 0.4);
}
.swatch8 {
  background-color:rgb(102, 255, 153, 0.3);
}
.swatch9 {
  background-color:rgb(102, 255, 153, 0.2);
}
.swatch10 {
  background-color:rgb(102, 255, 153, 0.1);
}
table, th, td {
    border: 1px solid black;
}
.swatch11 {
  background-color:hsl(120, 100%, 30%);
}
.swatch12 {
  background-color:hsl(120, 100%, 30%, 0.9);
}
.swatch13 {
  background-color:hsl(120, 100%, 30%, 0.8);
}
.swatch14 {
  background-color:hsl(120, 100%, 30%, 0.7);
}
.swatch15 {
  background-color:hsl(120, 100%, 30%, 0.6);
}
.swatch16 {
  background-color:hsl(120, 100%, 30%, 0.5);
}
.swatch17 {
  background-color:hsl(120, 100%, 30%, 0.4);
}
.swatch18 {
  background-color:hsl(120, 100%, 30%, 0.3);
}
.swatch19 {
  background-color:hsl(120, 100%, 30%, 0.2);
}
.swatch20 {
  background-color:hsl(120, 100%, 30%, 0.1);
}