html 
{
  background-color: white;
}

*{
  margin: 0;
    padding: 0;
}
body 
{
  margin: 30px;
}

#flag
{
  width: 500px;
    height: 260px;
  position: relative;
}
#star
{
    top: 0;
    left: 0;
    background: #002664;
    width: 220px;
    height: 220px;
    position: absolute;
    padding-top: .25em;
    line-height: 1.15em;
}

#star ul li
{
    display: inline;
}

#star ul li
{
    color: #FFF;
    font-size: 24px;
    text-decoration: none;
}

#star ul li span 
{
    display: none;
}

#star ul li
{
  padding-left: 22px;
}

.stripeBox {
  position: relative;
}

.redStripe1,
.redStripe2,
.redStripe3,
.redStripe4,
.redStripe5,
.redStripe6,
.redStripe7 {
  height: 25px;
  width: 620px;
  position: absolute;
  background: #bb133e;
}

.redStripe2 {
  top: 50px;
}

.redStripe3 {
  top: 100px;
}

.redStripe4 {
  top: 150px;
}

.redStripe5 {
  top: 200px;
}

.redStripe6 {
  top: 250px;
}

.redStripe7 {
  top: 300px;
}
