h1 {
  text-align: center;
}
body {
  text-align: center;
  background-color: rgba(201, 76, 76, 0.3);
}
table {
  width: 100%; 
  margin: center; 
  border: solid black; 
  border-collapse: collapse; 
}

td {
  border: 1px solid black; 
  background-color: gold;
}

th {
  border: 1px solid black; 
  background-color: gold;
}
  