<table border="1">
  <thead> <h2>Amazon Student List</h2>
    <tr>
      <th>Published</th>
      <th>ISBN-13</th>
      <th>Author</th>
      <th>Title</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>November 8, 2011</th>
      <th>860-1200464207</th>
      <th>Jon Duckett</th>
      <td>HTML and CSS: Design and Build Websites</td>
    </tr>
    <th>November 11,2011</th>
    <th>978-0321793935</th>
    <th>lan Devlin</th>
    <td>HTML5 Multimedia: Develop and Design</td>
  </tr>
<tr>
  <th>August 24, 2012</th>
  <th>978-1449319274</th>
  <th>Jennifer Niederst Robbins</th>
  <td>A Beginner's Guide to HTML, CSS, JavaScript, and Web Graphics</td>
</tr>
<tr>
  <th>June 30, 2014</th>
  <th>978-1118531648</th>
  <th>Jon Duckett</th>
  <td>JavaScript and JQuery: Interactive Front-End Web Development</td>
</tr>
<tr>
  <th>December 29, 2010</th>
  <th>1430230908Silvia</th>
  <th>Silvia Pfeiffer</th>
  <td>The Definitive Guide to HTML5 Video</td>
</tr>
<tr>
  <th>August 27, 2010</th>
  <th>978-0596806026</th>
  <th>Mark Pilgrim</th>
  <td>HTML5: Up and Running</td>
</tr>
<tr>
  <th>November 17, 2006</th>
  <th>978-0596527334</th>
  <th>Eric A. Meyer</th>
  <td>CSS: The Definitive Guide</td>
</tr>
<tr>
  <th>May 13, 2011</th>
  <th>978-0596805524</th>
  <th>David Flanagan</th>
  <td>JavaScript: The Definitive Guide: Activate Your Web Pages</td>
</tr>
<tr>
  <th>May 2008</th>
  <th>978-0596517748</th>
  <th>Douglas Crockford</th>
  <td>JavaScript: The Good Parts</td>
</tr>
</tbody>
<tfoot> 
  <tr>
    <th colspan="4">Amazon Student | FREE Two-Day Shipping on millions of items </th>
  </tr>
</tfoot>
</table>